// $theme-colors: (
//   "primary":,
//   "secondary": ,
//   "success":
// );

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1350px,
  xxl: 1400px
);

$carousel-control-color: red;
$carousel-control-width: 25%;
$carousel-control-opacity: .6;
$carousel-indicator-height: 6px;
$carousel-indicator-active-bg: red;
