// $theme-colors: (
//   "primary":,
//   "secondary": ,
//   "success":
// );



$carousel-control-color: red;
$carousel-control-width: 25%;
$carousel-control-opacity: .6;
$carousel-indicator-height: 6px;
$carousel-indicator-active-bg: red;
