// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../bootstrap-5.0.1/scss/functions";
// 2. Include any default variable overrides here
// @import "variables";
// 3. Include remainder of required Bootstrap stylesheets
@import "../../bootstrap-5.0.1/scss/mixins";
@import "../../bootstrap-5.0.1/scss/variables";
// 4. Include any optional Bootstrap components as you like
@import "optionalBootstrapComponents";
// 5. Add additional custom code here
@import "animations";

body {
  overflow-x: hidden;
}

#westWall {
  background-image: url(../images/westWallFloralPattern.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20%;
}

#eastWall {
  background-image: url(../images/eastWallFloralPattern.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20%;
}

#fringe {
  height: 50rem;
  width: 75rem;
}

#imageBox {
  height: 28rem;
  width: 42rem;
  overflow: hidden;
}

.centerImage {
  height: 28rem;
  width: 42rem;
}

.shutter {
  width: 50%;
  // animation: close 11s 2s linear infinite forwards;
  z-index: 2;
}

#powerWords {
  color: red;
  font-size: 300%;
  z-index: 3;
  text-align: center;
}