// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../bootstrap-5.0.1/scss/functions"; // 2. Include any default variable overrides here
@import "variables"; // 3. Include remainder of required Bootstrap stylesheets
@import "../../bootstrap-5.0.1/scss/mixins";
@import "../../bootstrap-5.0.1/scss/variables"; // 4. Include any optional Bootstrap components as you like
@import "optionalBootstrapComponents"; // 5. Add additional custom code here
@import "jsAppliedClasses";
@import "mixins";

body {
  overflow-x: hidden;
}

.navbar {
  @include background-gradient;
  height: 10vh;

  & .navbar-brand {
    font-family: 'Euphoria Script', cursive;
    font-size: 400%;
  }
}

#main-top-section {
  min-height: 90vh;
}

#west-wall {
  @include walls;
  background-image: url("../images/westWallFloralPattern.svg");
}

#east-wall {
  @include walls;
  background-image: url("../images/eastWallFloralPattern.svg");
}

h4 {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 300%;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

p a {
  color: black !important;
  text-decoration: underline !important;

  &:hover {
    background-color: orange;
  }
}

.list-breaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fringe {
  height: 50rem;
  width: 75rem;
}

#image-box,
.center-image {
  height: 28rem;
  width: 42rem;
}

.power-words {
  font-size: 300%;
  color: red;
  text-shadow: 2px 2px 5px #cc0000;
  font-family: 'Permanent Marker', sans-serif;
}

.gallery-img {
  height: 30rem;
  width: 20rem;
  border-radius: 10px;
}

#footer-container {
  @include background-gradient;
  color: white;
  font-size: 75%;

  & h5 {
    align-self: flex-start;
  }
}

i {
  margin: 20px;
  font-size: 400%;

  &:hover {
    color: blue;
  }
}

.about-panel {
  min-height: 9rem;
  background-color: #D0D5DB;
}
@import "breakpoints";